#topnav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle(type="button", data-toggle="collapse", data-target=".navbar-collapse")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="#")
        .logo1
          // <img src="images/bclogo.png" alt="Expose" height="35px" />
    .navbar-collapse.collapse
      ul.nav.navbar-nav
        li.active
          a(href="#home") Home
        li
          a(href="/technologies") Technologies &#38; Frameworks
        li
          a(href="#features") Rankings
        li
          a(href="#pricing") Pricing
        li
          a(href="#clients") Clients
        li
          a(href="#contact") Contact
    // /.navbar-collapse
