extends layout

block content
    #home.jumbotron
      .container
        .media
          .media-body
            .col-md-11
              h1.title
                span#bit_title Bit
                span Coach
              p
                | Bit Coach is a directory for all websites that can teach you to code. Whether it is NodeJS, Java, Ruby, or C#,
                | you can be sure to find the best and most fun way to learn it here.
              p
                a.btn.btn-success.btn-lg
                  | Learn more
                  i.icon.icon-angle-right
    hr
    // Title
    .row
      .col-lg-12
        h3 Featured Languages
    // /.row
    // Page Features
    .row.text-center
      .col-md-3.col-sm-6.hero-feature
        .thumbnail
          img(src='http://placehold.it/800x500', alt='')
          |                     
          .caption
            h3 Feature Language
            |                         
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            |                         
            p
              a.btn.btn-primary(href='#') Buy Now!
              |  
              a.btn.btn-default(href='#') More Info
      |             
      .col-md-3.col-sm-6.hero-feature
        .thumbnail
          img(src='http://placehold.it/800x500', alt='')
          |                     
          .caption
            h3 Feature Language
            |                         
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            |                         
            p
              a.btn.btn-primary(href='#') Buy Now!
              |  
              a.btn.btn-default(href='#') More Info
      |             
      .col-md-3.col-sm-6.hero-feature
        .thumbnail
          img(src='http://placehold.it/800x500', alt='')
          |                     
          .caption
            h3 Feature Language
            |                         
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            |                         
            p
              a.btn.btn-primary(href='#') Buy Now!
              |  
              a.btn.btn-default(href='#') More Info
      |             
      .col-md-3.col-sm-6.hero-feature
        .thumbnail
          img(src='http://placehold.it/800x500', alt='')
          |                     
          .caption
            h3 Feature Language
            |                         
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            |                         
            p
              a.btn.btn-primary(href='#') Buy Now!
              |  
              a.btn.btn-default(href='#') More Info
    // /.row
    hr
    // Footer
    footer
      .row
        .col-lg-12
          p Copyright &copy; Your Website 2014
  // /.container
  // jQuery
  script(src='js/jquery.js')
  // Bootstrap Core JavaScript
  script(src='js/bootstrap.min.js')
