extends ../layout

block extraHeader
  link(href='/css/site_show.css', rel='stylesheet')  

block content
  .row.row-offcanvas.row-offcanvas-left
    .col-xs-6.col-sm-3.sidebar-offcanvas(id="left_side_bar" style="border-right: 1px")
      h4 Languages
      table.table.table-responsive
        tr
          td NodeJS
        tr
          td Java
        tr
          td C#
        tr  
          td HTML
        tr
          td CSS
        tr
          td
        tr
          td
        tr
          td
        tr
          td
        tr
          td
        tr
          td
    .col-xs-12.col-sm-9
      .right_content
        .jumbotron
          .container
            h1 NodeJS
            p
            p

        img.img-responsive(src="/images/nodejs_big_logo.png", alt="")
