extends ../layout

block extraHeader
  link(href='/css/site_show.css', rel='stylesheet')  

block content
  .row
    .site_header
      h1= site.name
  .row.row-offcanvas.row-offcanvas-left.site_show_content
    .col-xs-6.col-sm-3.sidebar-offcanvas(id="left_side_bar" style="border-right: 1px")
      h4 Languages
      table.table.table-responsive
        for language in languages
          tr
            td= language.name
        tr
          td
        tr
          td
        tr
          td
        tr
          td
        tr
          td
        tr
          td
    .col-xs-12.col-sm-9
      .right_content
          p
          p

        img.img-responsive(src=site.large_banner_path, alt="")
